%h1.page-header.happy-caption About Happy Geocode

%p
  This project was started as a
  = link_to "Rails Rumble 2012", 'http://railsrumble.com'
  project. If you like it, please consider
  = link_to "voting for us.", 'http://railsrumble.com/entries/210-happy-geocode'

%section#supporters
  %h1.happy-caption
    Noble supporters
    %small thank you guys

  %ul.supporters-list
    %li
      %strong Office, power supply, pizza and beverages by
      %br
      = link_to 'http://en.triagens.com/', target: '_blank', class: 'supporter-image' do
        = image_tag 'triagens.png', title: 'triAGENS GmbH'
    %li
      %strong Powered by
      %br
      = link_to 'http://www.arangodb.org/', target: '_blank', class: 'supporter-image' do
        = image_tag 'arangodb.png', title: 'ArangoDB'
      = link_to 'http://www.openstreetmap.org/', target: '_blank', class: 'supporter-image' do
        = image_tag 'openstreetmap.png', title: 'OpenStreetMap'
      = link_to 'http://rubyonrails.org/', target: '_blank', class: 'supporter-image' do
        = image_tag 'rails.png', title: 'Ruby on Rails'

%section#team
  %h1.happy-caption The team

  %p
    Meet the humble folks behind this piece of software:

  .row-fluid
    %ul.thumbnails
      - @team_members.each do |hero|
        %li.span3
          .thumbnail
            = image_tag hero[:img], size: '200x200', class: 'img-rounded'
            .caption
              %h4.happy-caption= hero[:name]
              %p= hero[:desc]

