%section#aboutHappy
  %h1.page-header.happy-caption.happy-title
    = "Happy Geocode #{happy_face}"
    %small Openstreetmap geocoding done right

  .happy-map-logo

  .happy-about
    .row
      .happy-about-boxes
        = render partial: 'welcome/search'
        = render partial: 'welcome/map'
        = render partial: 'welcome/api'

    %small.muted.happy-lie
      1: Our manager claims so. Please do not sue us for false statements he made.
      He is currently out of office for a time travel and will return last year.

%section#example
  %h1.happy-caption Example
  %p
    Give us an address and we give you all the geo data
    = happy_face
  .happy-example
    .happy-input.pull-left
      %strong.desc Search string:
      .code= CodeRay.scan("'Bruesseler Strasse 55, 50672 Koeln'", :javascript).div.html_safe
    .happy-io.pull-left
      \=>
    .happy-output.pull-left
      %strong.desc Output:
      .code= CodeRay.scan("{ lat: '50.937993', lon: '6.934578' }", :javascript).div.html_safe
    = link_to '#', class: 'btn btn-success perform-example pull-left' do
      Run
      %i.icon-play


%section#supporters
  %h1.happy-caption
    Noble supporters
    %small thank you guys

  %ul.supporters-list
    %li
      %strong Office, power supply, pizza and beverages by
      %br
      = link_to 'http://en.triagens.com/', target: '_blank', class: 'supporter-image' do
        = image_tag 'triagens.png', title: 'triAGENS GmbH'
    %li
      %strong Powered by
      %br
      = link_to 'http://www.arangodb.org/', target: '_blank', class: 'supporter-image' do
        = image_tag 'arangodb.png', title: 'ArangoDB'
      = link_to 'http://www.openstreetmap.org/', target: '_blank', class: 'supporter-image' do
        = image_tag 'openstreetmap.png', title: 'OpenStreetMap'
      = link_to 'http://rubyonrails.org/', target: '_blank', class: 'supporter-image' do
        = image_tag 'rails.png', title: 'Ruby on Rails'

%section#team
  %h1.happy-caption The team

  %p
    Meet the humble folks behind this piece of software:

  .row-fluid
    %ul.thumbnails
      - @team_members.each do |hero|
        %li.span3
          .thumbnail
            = image_tag hero[:img], class: 'img-rounded'
            .caption.happy-team-member
              .vita
                %h4.happy-caption= hero[:name]
                %p= hero[:desc]
              = link_to "Github", hero[:github], target: '_blank', class: 'pull-left'
              = link_to "Twitter", hero[:twitter], target: '_blank', class: 'pull-right'

