!!!
%html
  %head
    %title Happy Geocode :D
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

    :javascript
      var _gaq = _gaq || [];

      _gaq.push(['_setAccount', '#{request.domain == "railsrumble.com" ? 'UA-35565702-2' : 'UA-35565702-1'}']);
      _gaq.push(['_setDomainName', '#{request.domain == "railsrumble.com" ? 'r12.railsrumble.com' : 'happy-geoco.de'}']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

%body
  .container
    = render partial: 'layouts/navigation'

    .happy-container
      - unless active_navigation_item_key == :map
        = render partial: 'layouts/rumble_warning'
      = yield

    %footer.happy-footer.muted
      %p
        This project was built in 48 hours for the
        = link_to "Rails Rumble 2012", "http://railsrumble.com", target: '_blank'
      %p
        Makes use of
        = link_to "Font Awesome", "http://fortawesome.github.com/Font-Awesome"
