!!!
%html
  %head
    %title Happy Geocode :D
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-35565702-1']);
      _gaq.push(['_setDomainName', 'happy-geocode.de']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

%body
  .container

    .navbar
      .navbar-inner
        = link_to 'Happy geocode :D', root_path, class: 'brand happy-caption'
        = render_navigation

    .happy-container
      .alert.alert-info
        This project was started as a
        = link_to "Rails Rumble 2012", 'http://railsrumble.com'
        project. If you like it, please consider
        = link_to "voting for us.", 'http://railsrumble.com/entries/210-happy-geocode'
      = yield

    %footer.happy-footer.muted
      This project was built in 48 hours for the 
      = link_to "Rails Rumble 2012", "http://railsrumble.com", target: '_blank'
